<div class="character_locations">
  <h4><%= character.name + ' ' + character.surname %></h4>
  <ul>
    <% character.locations.each do |l| %>
      <li><button onclick="switchLocation(<%= l.id %>)"><%= l.name %></button></li>
    <% end %>
  </ul>
</div>