<% if room.is_active %>
    <%
      onclick = ''
      if can_open
        onclick = 'openRoom(' + room.id.to_s + ')'
      end
    %>
    <button onclick="<%= onclick %>"><%= room.name %></button><br>
<% end %>