<div id="room_tab_<%= room.id %>" class="room_tab row">
  <div class="room_button col-lg-10 col-md-10 col-sm-10" onclick="switchRoom(<%= room.id %>)">
    <%= room.name %>
  </div>
  <div class="close_room col-lg-2 col-md-2 col-sm-2" onclick="closeRoom(<%= room.id %>)">
    X
  </div>
</div>