<h1>Zoznam hracov:</h1>


<% @users.each do |f| %>

    <div class="jumbotron">
      <p><%= link_to f.username, users_path + '/' + f.username %>, Last login from IP: <%= f.last_sign_in_ip %> </p>
    </div>

<% end %>
