<div class="container">

  <h2>Uvodna stranka</h2>

  <div class="jumbotron col-lg-10 col-md-10 col-sm-10 col-xs-3">
    <% @rooms.each do |room| %>

        <%= link_to room.name, 'miestnost/'+room.parametrized %> <br>

    <% end %>


    <%= link_to 'Miestnosti', miestnosti_path %>

  </div>

  <div id="online-users" class="jumbotron col-lg-10 col-md-10 col-sm-10 col-xs-3" style="display: none">

  </div>

</div>

<script type="text/javascript">
    $('#online-users').html("<%= j (render 'online') %>");
    $('#online-users').slideDown(350);
</script>
