<div class="container">
  <h2>Uvodna stranka</h2>

  <% @rooms.each do |room| %>

      <%= link_to room.name, 'miestnost/'+room.parametrized %> <br>

  <% end %>


  <%= link_to 'Miestnosti', miestnosti_path %>

</div>
