<h2>Uvodna stranka</h2>

<div class="col-lg-11 col-md-11 col-sm-11">

</div>

<div id="online-users" class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="display: none">

</div>

<script type="text/javascript">
    $('#online-users').html("<%= j (render 'online') %>");
    $('#online-users').slideDown(350);
</script>
