<div class="center_div">
  <h1 id="initial_e">E</h1>
</div>

<script>
    $("#initial_e").click(function(){
        $("#initial_e").fadeOut(2000, function () {
            $(".center_div").append("<%= escape_javascript( render partial: 'welcome/loginform') %>");
            $(".center_div form").fadeIn(2000);
        });
    });
</script>