// Place all the styles related to the room controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#send {
  color: coral;
  width: 100px;
  height: 30px;
  background: image_url('button.png') no-repeat;
  background-size: 100%;
}