.profile_container
  background-color: #c7a448
  min-width: 600px
  max-width: 800px
  margin: auto
  text-align: center

.character_list
  background-color: #c7b196
  min-width: 600px
  max-width: 800px
  margin: auto
  color: black

.character_link
  display: inline-block
  margin: 5px